# Requests and its dependencies
requests==2.31.0
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
urllib3==2.2.1

# Streamlit and its dependencies
streamlit==1.24.1
altair==4.2.2
blinker==1.6.2
cachetools==5.3.1
click==8.1.7
decorator==5.1.1
importlib-metadata==6.8.0
numpy==1.26.4
packaging==24.0
pandas==2.2.2
protobuf==4.23.4
pympler==1.0.1
python-dateutil==2.9.0.post0
pytz==2024.1
rich==13.7.1
six==1.16.0
tornado==6.4
typing-extensions==4.11.0
validators==0.21.2
watchdog==3.0.0
zipp==3.16.0

# Pandas and its dependencies
pandas==2.2.2
numpy==1.26.4
python-dateutil==2.9.0.post0
pytz==2024.1

# dotenv
python-dotenv==1.0.1

# Placeholder for src and its dependencies
# These are assumed to be custom modules within your project
-e git+ssh://git@github.com/ahmedaao/news-recommender-systems.git@182067af10105a067c0bca97f1a2102084a23295#egg=myproject